---
layout: default
---
<h1>Developer Conventions</h1>
<p>Conventions for development and workflows across web application development technologies.</p>
<div class="summary">
  <h2 class="summary__headline">Summary</h2>
  {% for category in site.categories %}
  <h3 class="summary__subline" id="{{ category | first }}">{{ category | first }}</h3>
    <ul>
    {% for posts in category %}
      {% for post in posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    {% endfor %}
    </ul>
  {% endfor %}
</div>
<h2>Various configuration files</h2>
<p>Following configuration files can be used in accordance to the coding conventions:</p>
<ul>
  <li><a href="/files/.jshintrc">.jshintrc</a> for <a href="https://github.com/jshint/jshint">JSHint</a></li>
  <li><a href="/files/.jscsrcs">.jscsrc</a> for <a href="http://jscs.info/">JSCS</a></li>
</ul>
