* {
    box-sizing: border-box;
}

.no-transitions * {
  transition: none !important;
}

.wrapper {
  position: relative;
  margin: auto;
  padding: 0 32px;
  max-width: $max-width;
  z-index: 2;
}

.wrapper--video {
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.adresses__pal {
  display: none;
}

.footer {
  background: $light-grey;
  padding-bottom: 45px;
}

.tilted {
  position: relative;

  &:after {
    display: block;
    position: absolute;
    top: $base-spacing-unit * -4;
    width: 100%;

    background: $light-grey;

    content: "";
    transform: skewY( $angle );
  }
}

.vertical-align {
  display: flex;
  align-items: center;
}

iframe[name="google_conversion_frame"] {
  display: none;
}

/* margins to make space for tilted backgrounds */
.awards {
  margin-bottom: 170px;
}

.customers {
  margin-bottom: 170px;
}

hr, .hr {
  margin-bottom: $base-spacing-unit * 2;
  height: 1px;

  border: none;

  background: $medium-grey;
}

.main--xmas {
  margin-top: 20px;
  margin-bottom: 200px;
}

@media all and ( max-width: $max-width - 1 ) {
  .wrapper {
      padding: 0 20px;
  }
}

@media only all and ( max-width: 600px ) {
  .wrapper--video {
    margin-bottom: $base-spacing-unit * 4;
    margin-top: $base-spacing-unit *2;
  }
}

@media all and (max-width: 839px) {
  .adresses__pal {
    display: initial;
  }

  .adresses__full {
    display: none;
  }
}