<footer class="footer">
  <div class="wrapper">
    <ul class="site-nav site-nav--narrow site-nav--legal">
      <li class="site-nav__li">
        <a class="site-nav__link" href="http://blog.interactive-pioneers.de/impressum/" target="blank">Impressum</a>
      </li>
      <li class="site-nav__li">
        <a class="site-nav__link" href="http://www.interactive-pioneers.de/AGB.pdf" target="blank">AGB</a>
      </li>
      <li class="site-nav__li">
        <a class="site-nav__link" href="http://blog.interactive-pioneers.de" target="blank">Blog</a>
      </li>
      <li class="site-nav__li">
        <a class="site-nav__link" id="jobs__show--footer" href="http://blog.interactive-pioneers.de/category/jobs">Jobs</a>
      </li>
      <li class="site-nav__li">
        <a class="site-nav__link" href="http://blog.interactive-pioneers.de/category/presse/" target="blank">Presse</a>
      </li>
      <li class="site-nav__li">
        <a class="site-nav__link" href="http://www.powerflasher.de" target="blank">Powerflasher</a>
      </li>
      <li class="site-nav__li">
        <a class="site-nav__link" href="http://fdt.powerflasher.com/" target="blank">FDT</a>
      </li>
    </ul>
  </div>
</footer>