<header class="header" role="banner">
  <div class="wrapper cf">
    <div class="header__logo"><a href="http://www.interactive-pioneers.de" title="Interactive Pioneers GmbH"><img srcset="/images/logo.png 1x, /images/logo@2x.png 2x" alt="Interactive Pioneers Logo"></a></div>
    <nav class="header__menu" role="navigation">
      <ul class="site-nav">
        <li class="site-nav__li"><a class="site-nav__link hash-link" href="/">Home</a></li>
        <li class="site-nav__li"><a class="site-nav__link" href="http://blog.interactive-pioneers.de" target="blank">Blog</a></li>
        <li class="site-nav__li"><a class="site-nav__link" id="jobs__show" href="http://blog.interactive-pioneers.de/category/jobs">Jobs</a></li>
      </ul>
    </nav>
  </div>
</header>