<header class="header" role="banner">
  <div class="wrapper cf">
    <div class="header__logo"><a href="http://www.interactive-pioneers.de" title="Interactive Pioneers GmbH"><img srcset="/images/logo.png 1x, /images/logo@2x.png 2x" alt="Interactive Pioneers Logo"></a></div>
    <div class="header__share heart">
      <div class="heart__upper-left"><a href="https://www.facebook.com/Interactive.Pioneers" title="Interactive Pioneers Facebook Page" target="_blank"><img class="heart__facebook" srcset="/images/social_facebook.png 1x, /images/social_facebook@2x.png 2x" alt="facebook" width="6" height="12"></a></div>
      <div class="heart__upper-right"><a href="https://plus.google.com/109515289931469085607/posts" title="Interactive Pioneers Google Plus Page" target="_blank"><img class="heart__google" srcset="/images/social_google.png 1x, /images/social_google@2x.png 2x" alt="google" width="12" height="11"></a></div>
      <div class="heart__bottom"><a href="https://twitter.com/i_pioneers" title="Interactive Pioneers Twitter Page" target="_blank"><img class="heart__twitter" srcset="/images/social_twitter.png 1x, /images/social_twitter@2x.png 2x" alt="twitter" width="7" height="10"></a></div>
    </div>
    <nav class="header__menu" role="navigation">
      <ul class="site-nav">
        <li class="site-nav__li"><a class="site-nav__link hash-link" href="/">Home</a></li>
        <li class="site-nav__li"><a class="site-nav__link" href="http://blog.interactive-pioneers.de" target="blank">Blog</a></li>
        <li class="site-nav__li"><a class="site-nav__link" id="jobs__show" href="http://blog.interactive-pioneers.de/category/jobs">Jobs</a></li>
      </ul>
    </nav>
  </div>
</header>