.header {
  padding-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

.header__menu {
  position: relative;
}

.header__logo {
  margin-bottom: $spacing-unit;

  text-align: center;
}

.header__share {
  float: right;
}

.header__share {
  margin-left: $spacing-unit * 2;
}

@media all and ( min-width: 600px ) {
  .header {
    margin-bottom: $spacing-unit * 2;
  }

  .header--xmas {
    margin-bottom: $spacing-unit * 2;
  }

  .header__logo {
    margin-bottom: 0;
    float: left;
  }

  .header__menu {
    float:right;
  }
}