.site-nav {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-nav__link {
  text-decoration: none;
}

.site-nav__link:hover {
  text-decoration: none;
}

.site-nav__li {
  display: inline-block;
  margin-left: $spacing-unit * 2;

  &:first-child {
    margin-left: 0;
  }
}

.site-nav--narrow li {
  margin-left: $spacing-unit;
}

.site-nav--icons {
  float: right;

  a {
    display: inline-block;
    vertical-align: super;

    font-size: 0;
  }
}

@media all and ( min-width: 850px ) {
  .no-touch .site-nav__highlight {
    position: absolute;
    top: 25px;
    left: 0;
    width: 0;
    height: 1px;

    background: $blue;

    transition: 0.3s all ease-in-out;
  }
}

@media all and ( max-width: 600px ) {
  .site-nav__li{
    margin-left: $spacing-unit;
  }

  .site-nav--narrow li {
    margin-left: $spacing-unit/2;
  }

  .site-nav--legal {
    margin-bottom: $spacing-unit;

    .site-nav__li {
      margin: 0 $spacing-unit/2 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  .site-nav--icons {
    float: none;
    text-align: center;
  }
}
