body {
  background-color: $background-color;
}

body, html {
  height: 100%;
}

.container {

  min-height: 100%;
  padding-bottom: 180px;
  box-sizing: border-box;

  @include media-query($on-palm) {
    padding-bottom: 120px;
  }
}