.footer {
  &:after {
    top: -90px;
    height: 200px;
  }

  @media all and (min-width: 601px) {
    &:after {
      height: 200px;
    }
  }

  @media all and (min-width: 840px) {
    &:after {
      height: 200px;
    }
  }
}

