<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }} – {{ site.description }}</title>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/main.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    {% include header.html %}
    <main class="wrapper wrapper--small conventions">
      {{ content }}
    </main>
    {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>
