---
# Front matter comment to ensure Jekyll properly reads file.
---
/**
 * Normalize first
 */
@import "normalize";
@import "vendor/css_wizzardry_grids";
@import "vendor/slick";

/**
 * Variables & mixins
 */
@import "generic/variables";
@import "generic/mixins";
@import "generic/icon";

/**
 * Generic definitions
 */
@import "generic/clearfix";
@import "generic/typography";
@import "generic/layout";
@import "generic/helper";

/**
 * Modules
 */
@import "modules/jobs";
@import "modules/header";
@import "modules/site-nav";
@import "modules/brand";
@import "modules/about";
@import "modules/tweet-feed";
@import "modules/portfolio";
@import "modules/footer";
@import "modules/address";
@import "modules/heart";
@import "modules/slider";

/**
 * Conventions
 */
@import "conventions";
